---
layout: default
---

{{ content }}
{% assign contentwonl = content | strip_newlines %} {% unless contentwonl == ""  %} <br /> {% endunless %} <!-- add line break if there is any content -->

{% assign recent = site.writeups | sort: "date" | reverse | slice: 0, 4 %}

{% if recent.size > 0 %}

## Recent Writeups

<ul>
  {% for w in recent %}
  <li>
    {% assign date_format = "%Y-%m-%d" %}
    [ {{ w.date | date: date_format }} ] <a href="{{ w.url | relative_url }}">{{ w.title | escape }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}
